data/SDSSspecgalsDR8full.fits
img/*.jpg
fig/*.png
classcode/__pycache__/*
classcode/test.py
.ipynb_checkpoints/
.DS_Store
class2_powerspectrum.ipynb
class3and4_powerspectrum.ipynb
class5and6_nonlinearformation.ipynb
class9_clustering.ipynb
