data/SDSSspecgalsDR8full.fits
img/*.jpg
fig/*.png
classcode/__pycache__/*
classcode/test.py
.ipynb_checkpoints/
.DS_Store
class3and4_powerspectrum.older_version.ipynb
class9and10_clustering.ipynb
gravitational_lensing.ipynb
temp_stuff.ipynb
diemer_2014_exercices.ipynb
working_with_sims.ipynb